@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie list</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-page="/Movies/Index">Movies</a>.</p>
</div>
 